.li {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 200px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 1rem;
  padding: 1rem;
}

.li img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

article {
  margin-bottom: 1rem;
  padding: 1rem;
}

/* div {
  padding: 1rem;
} */
