.gnb {
  position: fixed;
  left: 50%;
  top: 36px;
  transform: translateX(-50%);
  z-index: 9999;
  mix-blend-mode: difference;
  color: #fff;
}

.menuContainer {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  padding-top: 8px;
  transition: all 0.3s ease;
  z-index: 3;
  border: 0 none;
  background-color: transparent;
  box-sizing: border-box;
  color: inherit;
}

.menuContainer:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 150px;
  height: 4px;
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.3s ease;
  mix-blend-mode: difference;
}

.allMenu {
  background-color: #030001;
  color: #fff;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 97px 0 46px;
  box-sizing: border-box;
  border-radius: 4px;
  white-space: nowrap;
  text-align: center;
  width: 260px;
  z-index: 999;
  overflow: hidden;
  visibility: hidden;
  max-height: 0;
}

.showMenu {
  animation: slideDown 0.5s ease forwards;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@keyframes slideDown {
  from {
    max-height: 0;
    visibility: hidden;
  }
  to {
    max-height: 300px;
    visibility: visible;
  }
}
